body{
    background: radial-gradient(circle at 50.4% 50.5%, rgb(184, 9, 53) 0%, rgb(11, 0, 3) 90%);
    font-family: 'Open Sans', sans-serif;

}

h1{
    font-family: 'Abril Fatface', serif;

}
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    height: 400px;
    background-color: black;
}
.card-img-top{
    height: 200px;
    color: white;
}
.card-body{
    height: 200px;
    color: white;
}

@media(max-width:1000px){

    .cards{
        display: flex;
        justify-content: space-between;
    }
    .card{
        height: 400px;
        background-color: black;
    }
    .card-img-top{
        height: 200px;
        color: white;
    }
    .card-body{
        height: 200px;
        color: white;
    }


}
@media(max-width:400px){

    .cards{
        display: block;
        justify-content: space-between;
    }
    .card{
        height: 400px;
        background-color: black;
    }
    .card-img-top{
        height: 200px;
        color: white;
    }
    .card-body{
        height: 200px;
        color: white;
    }


}
